<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder system-properties-mode="OVERRIDE" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${LIVOCLOUD_DB_DRIVER:org.postgresql.Driver}" />
		<property name="url" value="${LIVOCLOUD_DB_URL:jdbc:postgresql://localhost:5432/livocloud}" />
		<property name="username" value="${LIVOCLOUD_DB_USERNAME:livocloud}" />
		<property name="password" value="${LIVOCLOUD_DB_PASSWORD:}" />
	</bean>

	<bean id="databaseMigration" class="tr.com.eno.livo.cloud.config.DatabaseMigration" init-method="migrate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="passwordHasher" class="tr.com.eno.livo.cloud.security.PasswordHasher" />
	<bean id="verificationTokenGenerator" class="tr.com.eno.livo.cloud.security.VerificationTokenGenerator" />

	<bean id="accountRegistrationService"
		class="tr.com.eno.livo.cloud.service.AccountRegistrationService"
		depends-on="databaseMigration">
		<property name="dataSource" ref="dataSource" />
		<property name="passwordHasher" ref="passwordHasher" />
		<property name="tokenGenerator" ref="verificationTokenGenerator" />
	</bean>

	<bean id="userDelegate" class="tr.com.eno.livo.cloud.delegate.UserDelegate">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="pendingRequestDelegate" class="tr.com.eno.livo.cloud.delegate.PendingRequestDelegate">
		<property name="pendingRequestService" ref="pendingRequestService" />
	</bean>
	<bean id="platformDelegate" class="tr.com.eno.livo.cloud.delegate.PlatformDelegate">
		<property name="platformService" ref="platformService" />
	</bean>
	<bean id="transactionHistoryDelegate" class="tr.com.eno.livo.cloud.delegate.TransactionHistoryDelegate">
		<property name="transactionHistoryService" ref="transactionHistoryService" />
	</bean>

	<bean id="userService" class="tr.com.eno.livo.cloud.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="pendingRequestService" class="tr.com.eno.livo.cloud.service.impl.PendingRequestServiceImpl">
		<property name="pendingRequestDao" ref="pendingRequestDao" />
	</bean>
	<bean id="platformService" class="tr.com.eno.livo.cloud.service.impl.PlatformServiceImpl">
		<property name="platformDao" ref="platformDao" />
	</bean>
	<bean id="transactionHistoryService" class="tr.com.eno.livo.cloud.service.impl.TransactionHistoryServiceImpl">
		<property name="transactionHistoryDao" ref="transactionHistoryDao" />
	</bean>

	<bean id="userDao" class="tr.com.eno.livo.cloud.dao.impl.UserDaoImpl" depends-on="databaseMigration">
		<property name="dataSource" ref="dataSource" />
		<property name="passwordHasher" ref="passwordHasher" />
	</bean>
	<bean id="pendingRequestDao" class="tr.com.eno.livo.cloud.dao.impl.PendingRequestDaoImpl" depends-on="databaseMigration">
		<property name="dataSource" ref="dataSource" />
		<property name="tokenGenerator" ref="verificationTokenGenerator" />
	</bean>
	<bean id="platformDao" class="tr.com.eno.livo.cloud.dao.impl.PlatformDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionHistoryDao" class="tr.com.eno.livo.cloud.dao.impl.TransactionHistoryDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="seatDao" class="tr.com.eno.livo.cloud.dao.impl.SeatDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
